.left_side{
background: #cc9;
padding-bottom: 6em;
}

.right_side{
background: #f9c;
padding-bottom: 6em;
}


h1{
  color: #3CCACC;
}

h3{
  color: #9B65D7;
}

p{
  color: #B9CF8F;
}

body{
  background: #D6F89A;
